body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
h1{
    background-color: rgb(236, 214, 239);
    margin: 0;
    padding: 50px;
    border-radius: 0 0 10px 10px;
    font-size: 3rem;
}
p{
    font-size: 6rem;
    transition: .5s ease;
}
button{
    border: none;
    padding: 25px 30px;
    margin: 5px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
    
}
#start-btn{
    background-color:darkseagreen;
    cursor: pointer;
}
#stop-btn{
    background-color: brown;
    cursor: pointer;
}
#reset-btn{
    background-color: midnightblue;
    cursor: pointer;
}
#start-btn:hover{
    background-color:rgb(122, 160, 122);
}
#stop-btn:hover{
    background-color: rgb(137, 35, 35);
}
#reset-btn:hover{
    background-color: rgb(17, 17, 76);
}
