body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color:#126230 ;
    color: #fff;
    padding: 20px;
    text-align: center;
}
h1{
    margin: 0;  
    font-size: 36px; 
}
.container{
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}
#recipe-list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.recipe-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
}
.recipe-item img{
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.recipe-item h2{
    margin: 0;
    font-size: 20px;
    padding: 10px;
    min-width: 200px;
}
.recipe-item p{
    margin: 0;
    padding: 10px;
    color : #777;


}
.recipe-item a{
    text-decoration: none;
    color: #fff;
    background-color: #126230;
    min-width: 150px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    transition: background 0.2 ease;
    border-radius: 5px 0 0 5px;
}
.recipe-item a:hover{
    background-color: #0d4a24;
}

@media  screen and (max-width :768px) {
    .container{
        max-width: 90%;
    }
    .recipe-item{
        flex-wrap: wrap;
        flex: content;
        justify-content: center;
    }
    .recipe-item img{
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
    .recipe-item h2{
        font-size: 20px;
        padding: 0;
        margin-bottom: 10px;
    }
    .recipe-item p{
        font-size: 14px;
        margin-bottom: 10px;
    }
    .recipe-item a{
        width: 100%;
        border-radius: 0;
        
    }
}